input{
    width: 50%;
}
h2{
    margin-top: 0%;
}

#small-container, #big-container{
    padding-left: 5%;
}

#big-container{
    background-color: skyblue;
    padding: 5% 0 3% 30%;
    height: 100vh; 
}