<div id="big-container">
    <h2>Modificar propiedad: </h2>
    <p>Selecciona una propiedad de la lista de arriba</p>
    <br>
    <!--<div [style.display] = "showResult ? 'block':'none'">-->
    <div id="small-container">
        <div *ngIf="showResult">
            <form [formGroup]="formValues" (ngSubmit)="onSaveData()">
                <input
                type="text"
                class="form-control"
                formControlName ="title"
                >
                <input
                type="text"
                class="form-control"
                formControlName="desc"
                >
                <input
                type="text"
                class="form-control"
                formControlName="address"
                ><input
                type="number"
                class="form-control"
                formControlName="price"
                >
                <br>
                <button
                class="btn btn-primary"
                >Listo</button>
            </form>
        </div>
    </div>
</div>